@import "tailwindcss";

@layer utilities {
  .animate-slide-down-item {
    animation: slideDownItem 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    opacity: 0;
  }
}

@keyframes slideDownItem {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
